.btn {
  background-color: $color-main;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $second-font-family;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-main-dark;
  }
}
