.realtors {
  background-color: $second-color;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  &__realtor {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
    &-img {
      width: 100%;
      display: block;
      border-radius: 50%;
      width: 7rem;
    }
    &-sold {
      text-transform: uppercase;
      color: $color-grey-light-2;
      margin-top: -3px;
    }
  }
}
