.sidebar {
  background-color: $color-main;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  @media only screen and (max-width: $bp-1000px) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: end;
    padding-top: 0;
    padding-right: 3rem;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  position: relative;
  &::before,
  &::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;
    position: absolute;
    left: 0;
  }
  &::before {
    top: -1.5rem;
  }
  &::after {
    top: 1.5rem;
  }
  @media only screen and (max-width: $bp-1000px) {
    &::before {
      top: -1.2rem;
    }
    &::after {
      top: 1.2rem;
    }
  }
}
