.sidebar {
  background-color: $color-main;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  position: relative;
  margin-top: 4rem;
  &::before,
  &::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;
    position: absolute;
    left: 0;
  }
  &::before {
    top: -1.5rem;
  }
  &::after {
    top: 1.5rem;
  }
}
